{%  extends 'register/base.html' %}

{% block content %}

<body>
  <div class="utility-page-wrap">
    <div class="_404-wrap" >
      <div class="_404-content-wrap">
        <div class="heading-jumbo">An Error has occured. Try again or contact us</div>
        <div class="divider"></div>
        <div class="paragraph-bigger cc-bigger-light">The page you are looking for doesn&#x27;t exist or has been moved.</div>
      </div>
      <a href="http://soli-ticket.de" class="button cc-white-button w-inline-block">
        <div>Zurück zur Startseite</div>
      </a>
    </div>
  </div>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

{% endblock %}
