{%  extends 'base.html' %}

{% block content %}

  <div class="utility-page-wrap">
    <div class="_404-wrap" >
      <div class="_404-content-wrap">
        <div class="heading-jumbo">An Error has occured. Try again or contact us</div>
        <div class="divider"></div>
        <div class="paragraph-bigger cc-bigger-light">The page you are looking for doesn&#x27;t exist or has been moved.</div>
      </div>
      <a href="{% url 'home' %}" class="button cc-white-button w-inline-block"><div>Zurück zur Startseite</div></a>
    </div>
  </div>

{% endblock %}
