{%  extends 'base.html' %}

{% load custom_tags %}

{% block content %}
<div>
    <div class="section cc-store-home-wrap">
      <div class="form-header">
        <div class="intro-content cc-homepage">
          <div class="intro-text">
            <div class="heading-jumbo">Passwort ändern</div>
            <div class="div-block divider"></div>
            <div class="paragraph-bigger cc-bigger-white-light"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="w-form">
          <form  method ="POST" class = "form" action = "."> {% csrf_token %}
            <div class="w-row">
              <div class="w-col w-col-3"></div>
              <div class="w-col w-col-6">
                <label for="password">Altes Passwort</label>
                {{ form.old_password.errors }}
                {{ form.old_password|setHTMLAttributes:"{'class': 'text-field-2 w-input'}" }}
                <label for="password">Neues Passwort</label>
                {{ form.new_password1.errors }}
                {{ form.new_password1|setHTMLAttributes:"{'class': 'text-field-2 w-input'}" }}
                <label for="password">Neues Passwort bestätigen</label>
                {{ form.new_password2.errors }}
                {{ form.new_password2|setHTMLAttributes:"{'class': 'text-field-2 w-input'}" }}
                <input type="submit" value="Passwort ändern" data-wait="Please wait..." class="submit-button edit w-button">
                <a href="{% url 'accounts:profile_update' %}" class="button-11 w-button">Abbrechen</a>
			  </div>
			  <div class="w-col w-col-3"></div>
			</div>
		  </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
