{%  extends 'base.html' %}

{% block content %}

<br>
<div class="section cc-store-home-wrap">
  <div class="form-header">
    <div class="intro-content cc-homepage">
      <div class="intro-text">
        <div class="heading-jumbo">Willkommen!</div>
        <div class="div-block"></div>
        <div class="paragraph-bigger cc-bigger-white-light">Konto erstellen<br></div>
      </div>
    </div>
  </div>
  <div class="container">
    <form id="email-form" name="email-form" data-name="Email Form" class="form" method="post" action="/accounts/register/">{% csrf_token %}
      <div class="w-row">
        <div class="w-col w-col-3"></div>
        <div class="w-col w-col-6">
          <label for="name" class="field-label">EMAIL-Adresse</label>
          <font size="3" color="red" disabled = "True">{{ error1 }}</font>
          <input type="email" class="text-field-2 w-input" autofocus="true" maxlength="256" name="email" data-name="Name" id="email" required="">
          <label for="name" class="field-label">Benutzername</label
          <font size="3" color="red" disabled = "True">{{ error2 }}</font>
			    <input type="username" class="text-field-2 w-input" autofocus="true" maxlength="256" name="username" data-name="Name" id="email" required="">
          <label for="email">Passwort</label>
			    <font size="3" color="red" disabled = "True">{{ error3 }}</font>
			    <input type="password" class="text-field-2 w-input" maxlength="256" name="pw1" data-name="Email" id="passwort" required="">
		      <label for="name">Passwort wiederholen</label>
			    <input type="password" class="text-field-2 w-input" maxlength="256" name="pw2" data-name="Email" id="passwort2" required="">
			    <input type="submit" value="Registrieren" formmethod="post" data-wait="Please wait..." class="submit-button w-button">
        </div>
        <div class="w-col w-col-3"></div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
