{%  extends 'base.html' %}

{% block content %}

<br>
  <div class="section cc-store-home-wrap">
    <div class="form-header">
      <div class="intro-content cc-homepage">
        <div class="intro-text">
          <div class="heading-jumbo">Schön Sie hier zu haben - packen wir&#x27;s an!</div>
          <div class="div-block"></div>
          <div class="paragraph-bigger cc-bigger-white-light">Ein paar Infos brauchen wir noch:<br></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" class="form" method="post" action="/accounts/register/">{% csrf_token %}
          <div class="w-row">
            <div class="w-col w-col-3"></div>
            <div class="w-col w-col-6"><label for="name" class="field-label">Ansprechpartner</label>
              <div class="w-row">
                {% for error in register2.vname.errors %}
                  <font size="3" color="red" disabled = "True"> {{ error }} </font>
                {% endfor %}
                {% for error in register2.nname.errors %}
                  <font size="3" color="red" disabled = "True"> {{ error }} </font>
                {% endfor %}
                <div class="w-col w-col-6">{{ register2.vname }}</div>
                <div class="w-col w-col-6">{{ register2.nname }}</div>
              </div>
              <label for="Name-der-Organisation">Name der Organisation</label>
              {% for error in register2.oname.errors %}
                  <font size="3" color="red" disabled = "True"> {{ error }} </font>
              {% endfor %}
              {{ register2.oname }}
			        <label for="Art-3">Erzählen sie Ihren Spendern etwas über sich und Ihre aktuelle situation</label>
			        {% for error in register2.description.errors %}
                  <font size="3" color="red" disabled = "True"> {{ error }} </font>
              {% endfor %}
              {{ register2.description }}
              <label for="Art-2">Art der Organisation</label>
              {% for error in register2.art.errors %}
                  <font size="3" color="red" disabled = "True"> {{ error }} </font>
              {% endfor %}
              {{ register2.art }}
			  
			
			  <label for="Art-3">Adresse</label>
              <div class="w-row">
              {% for error in register2.strasse.errors %}
                  <font size="3" color="red" disabled = "True"> {{ error }} </font>
              {% endfor %}
              <div class="w-col w-col-9">{{ register2.strasse }}</div>
              {% for error in register2.hnummer.errors %}
                  <font size="3" color="red" disabled = "True"> {{ error }} </font>
              {% endfor %}
              <div class="w-col w-col-3">{{ register2.hnummer }}</div>

              </div>
              <div class="w-row">
              {% for error in register2.plz.errors %}
                  <font size="3" color="red" disabled = "True"> {{ error }} </font>
              {% endfor %}
              <div class="w-col w-col-4">{{ register2.plz }}</div>
              {% for error in register2.ort.errors %}
                  <font size="3" color="red" disabled = "True"> {{ error }} </font>
              {% endfor %}
              <div class="w-col w-col-8">{{ register2.ort }}</div>
              </div>
              <label for="Art-3">Telefonnummer</label>
              {% for error in register2.telnr.errors %}
                  <font size="3" color="red" disabled = "True"> {{ error }} </font>
              {% endfor %}
              {{ register2.telnr }}

              <input type="submit" value="Weiter" data-wait="Please wait..." class="submit-button w-button" formmethod="post">
            </div>
            <div class="w-col w-col-3"></div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
