{%  extends 'base.html' %}

{% block content %}

<br>
<div class="section cc-store-home-wrap">
  <div class="form-header">
    <div class="intro-content cc-homepage">
      <div class="intro-text">
        <div class="heading-jumbo">Willkommen!</div>
        <div class="div-block"></div>
        <div class="paragraph-bigger cc-bigger-white-light">Konto erstellen<br></div>
      </div>
    </div>
  </div>
  <div class="container">
    <form id="email-form" name="email-form" data-name="Email Form" class="form" method="post" action="/accounts/register/">{% csrf_token %}
      <div class="w-row">
        <div class="w-col w-col-3"></div>
        <div class="w-col w-col-6">
          <label for="name" class="field-label">EMAIL-Adresse</label>
          {% for error in register1.email.errors %}
            <font size="3" color="red" disabled = "True"> {{ error }} </font>
          {% endfor %}
			    {{ register1.email }}
          <label for="username" class="field-label">Benutzername</label>
          {% for error in register1.user.errors %}
            <font size="3" color="red" disabled = "True"> {{ error }} </font>
          {% endfor %}
			    {{ register1.user }}
          <label for="pw1">Passwort</label>
          {% for error in register1.pw1.errors %}
            <font size="3" color="red" disabled = "True"> {{ error }} </font>
          {% endfor %}
			    {{ register1.pw1 }}
		      <label for="pw2">Passwort wiederholen</label>
			    {% for error in register1.pw2.errors %}
            <font size="3" color="red" disabled = "True"> {{ error }} </font>
          {% endfor %}
			    {{ register1.pw2 }}
			    <input type="submit" value="Weiter" formmethod="post" data-wait="Please wait..." class="submit-button w-button">
        </div>
        <div class="w-col w-col-3"></div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
