{%  extends 'base.html' %}

{% load custom_tags %}

{% block content %}
<div>
    <div class="section cc-store-home-wrap">
      <div class="form-header">
        <div class="intro-content cc-homepage">
          <div class="intro-text">
            <div class="heading-jumbo">Passwort zurücksetzen</div>
            <div class="div-block divider"></div>
            <div class="paragraph-bigger cc-bigger-white-light">Passwort vergessen? Geben Sie unten die E-Mail-Adresse Ihres Accounts ein und folgen Sie den Anweisungen zum Zurücksetzen des Passwortes in der E-Mail.<br></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="w-form">
          <form  method ="POST" class = "form" action = "."> {% csrf_token %}
            <div class="w-row">
              <div class="w-col w-col-3"></div>
              <div class="w-col w-col-6">
                <label for="password">E-Mail-Adresse</label>
                {{ form.email.errors }}
                {{ form.email|setHTMLAttributes:"{'class': 'text-field-2 w-input'}" }}
				<div class="w-row">
					<div class="w-col w-col-4"><input type="submit" value="Email senden" data-wait="Please wait..." class="submit-button w-button"></div>
				</div>
			  </div>
			  <div class="w-col w-col-3"></div>
			</div>
		  </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
