/Soli
/Soli-ticket
*.pyc
/.vscode
__pycache__
solivenv
myvenv
db.sqlite3
.DS_Store
migrations
!__init__.py
solisite/secret_key.txt
solisite/settings.py
soli-ticket.code-workspace

solisite/media
db_backups/
db_backup.py
