<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>User List</title>
    </head>
    <body>
        <div>
            <h1><a href="/">User List</a></h1>
        </div>

          {% for user in users %}
            <div>
                <h2>mail: {{ user.mail }}</h2>
                <h2>pwd: <a href="">{{ user.pwd }}</a></h2>
            </div>
          {% endfor %}
    </body>
</html>
