.errorlist {
    font-size: 12px;
    padding-left: 10px;
    margin-top: 0px;
}

.errorlist li {
    color: red;
}

.red-background {
    background-color: #ff4a4aeb !important;
}

#external_link {
    background-image: url(../images/icons8-external-link-26.png);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 98% 44%;
    padding-right: 1.7em;
    margin-right: auto;
    display: inline-block;
}

#additionals {
    position: fixed;
    bottom: 20px;
    width: 100%;
    line-height: 0px;
}

#cookie-banner-placeholder {
    width: 100%;
    display: none;
}

.cookie-banner {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    width: 90%;
    padding: 5px 14px;
    display: flex;
    justify-content: space-evenly;
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 18px;
}

.more-info {
    margin: 6px !important;
}

.close-banner {
    margin: 6px 0px 6px 0px !important;
}

.close-banner:hover {
    color: black;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

#to-top-button {
    display: none;
    position: relative;
    left: calc(100% - 68px);
    cursor: pointer;
    z-index: 999;
    box-shadow: 0px 0px 5px #8bcafd;
    border: 2px solid #8bcafd;
    width: 50px;
    height: 50px;
    margin: 0px;
    background-image: url(../images/chevron-up.svg);
    background-size: 2.5em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: background-color 0.2s ease-in-out;
}

#to-top-button:hover {
    background-color: #93d7c5;
    border-color: #85d8c2;
    box-shadow: 0px 0px 5px #85d8c2;
}

.copy-link-container {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 36px;
    display: table;
}

#link {
    display: table-cell;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: text;
    border-radius: 8px 0px 0px 8px;
    box-shadow: inset 0px 0px 4px 2px rgba(204, 204, 204, 0.5);
}

#copy-button {
    display: table-cell;
    width: 36px;
    margin: 0px;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 0px 8px 8px 0px;
    background-image: url(../images/icons8-copy-24.png), linear-gradient(#eeeeee, #cccccc);
    background-size: 1.5em, 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#copy-button:active {
    background-image: url(../images/icons8-copy-24.png);
    background-color: #eeeeee;
    box-shadow: inset 0px 0px 4px 2px rgba(204, 204, 204, 0.5);
}

@media screen and (max-width: 600px) {
    .cookie-banner {
        flex-direction: column;
        font-size: 12px;
    }

    .copy-link-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: table;
    }
}

#navbar-space-reserver {
    height: 70px;
}

@media screen and (max-width: 767px) {
    .heading {
        line-height: 62px !important;
    }
}

.position-fixed {
    position: fixed !important;
    width: 100%;
}

.navigation {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.logo-title-wrapper {
    display: table;
}

.logo {
    display: table-cell;
    padding: 7px 15px 7px 7px;
}

.logo img {
    width: 56px;
    height: 56px;
    display: inline-block;
}

.title {
    display: table-cell;
    vertical-align: middle;
}

.title h1 {
    display: inline-block;
    margin: 0px;
}

.pages-container {
    display: table;
    border: 1px solid #cccccc;
    border-radius: 8px;
    margin: auto auto 15px auto;
}

.pages-container > * {
    display: table-cell;
    padding: 3px 7px 3px 7px;
    box-shadow: inset 0px 0px 4px 2px rgba(238, 238, 238, 0.5);
    text-decoration: none;
}

.pages-container > *:not(.disabled):hover {
    box-shadow: inset 0px 0px 4px 2px rgba(143, 205, 256, 0.5);
}

.pages-container > *:not(.disabled):active {
    background-color: rgba(143, 205, 256, 0.5);
    box-shadow: inset 0px 0px 4px 2px rgba(56, 152, 236, 0.5);
}

.pages-container .current-page {
    background-color: rgba(143, 205, 256, 0.5);
    box-shadow: inset 0px 0px 4px 2px rgba(56, 152, 236, 0.5);
}

.page-index {
    border-right: 1px solid #eeeeee;
}

#previous-page {
    width: 35px;
    border-right: 1px solid #eeeeee;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-image: url(../images/arrow-left.svg);
    background-size: 1.4em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#previous-page.disabled {
    background-image: url(../images/arrow-left-lightgray.svg);
    cursor: not-allowed;
}

#next-page {
    width: 35px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: url(../images/arrow-right.svg);
    background-size: 1.4em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#next-page.disabled {
    background-image: url(../images/arrow-right-lightgray.svg);
    cursor: not-allowed;
}

.epP-container {
    display: table;
    margin-left: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 1px solid #8fcdff;
    border-right: 1px solid #8fcdff;
    border-left: 1px solid #8fcdff;
}

.epP-container > * {
    display: table-cell;
    padding: 4px 7px 4px 7px;
    box-shadow: inset 0px 0px 4px 2px rgba(143, 205, 255, 0.5);
}

.epP-container .current-epP {
    background-color: rgba(143, 205, 255, 0.3);
}

.epP-description {
    border-top-left-radius: 8px;
    border-right: 1px solid rgba(143, 205, 255, 0.7);
}

.epP-index {
    border-right: 1px solid rgba(143, 205, 255, 0.7);
    text-decoration: none;
}

.epP-index:hover {
    box-shadow: inset 0px 0px 4px 2px rgba(56, 152, 236, 0.5);
}

.epP-index:active {
    box-shadow: inset 0px 0px 4px 2px rgba(56, 152, 236, 0.5);
    background-color: rgba(143, 205, 255, 0.3);
}

.epP-index:last-child {
    border-top-right-radius: 8px;
    border: none;
}

@media (max-width: 320px) {
    .pages-container > * {
        padding: 3px 4px 3px 4px;
    }

    #previous-page {
        width: 30px;
    }

    #next-page {
        width: 30px;
    }

    .epP-container > * {
        padding: 3px 3px 3px 3px;
    }
}