.errorlist {
    font-size: 12px;
    padding-left: 10px;
    margin-top: 0px;
}

.errorlist li {
    color: red;
}

.red-background {
    background-color: #ff4a4aeb !important;
}

#external_link {
    background-image: url(../images/icons8-external-link-26.png);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 98% 44%;
    padding-right: 1.7em;
    margin-right: auto;
    display: inline-block;
}

.cookie-banner {
    position: fixed;
    bottom: 20px;
    left: 5%;
    right: 5%;
    width: 90%;
    padding: 5px 14px;
    display: flex;
    justify-content: space-evenly;
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 18px;
}

@media (max-width: 600px) {
    .cookie-banner {
        flex-direction: column;
        font-size: 12px;
    }
}

.more-info {
    margin: 6px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}