.errorlist {
    font-size: 12px;
    padding-left: 10px;
    margin-top: 0px;
}

.errorlist li {
    color: red;
}

.red-background {
    background-color: #ff4a4aeb !important;
}

#external_link {
    background-image: url(../images/icons8-external-link-26.png);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 98% 44%;
    padding-right: 1.7em;
    margin-right: auto;
    display: inline-block;
}

.cookie-banner {
    position: sticky;
    bottom: 20px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.close-banner {
    
}