{% extends "base.html" %}

{% load custom_tags %}

{% block title %}
Liste aller Veranstalter
{% endblock %}

{% block content %}
<div class="section-19">
  <div class="w-container">
    <h3 class="heading-21">Hier finden Sie alle Veranstalter, die Sie bei uns unterstützen können!</h3>
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row">
          <div class="w-col w-col-3"></div>
          <div class="w-col w-col-6">
            {{ myFilter.form.city|setHTMLAttributes:"{'class': 'text-field-2 w-input', 'placeholder': 'Nach Ort suchen...'}" }}
            <input type="submit" value="Suchen" class="submit-button-2 w-button">
            <a class="submit-button w-button" href="{% url 'accounts:organiser_list' %}">Alle anzeigen</a>
          </div>
          <div class="w-col w-col-3"></div>
        </div>
      </form>
    </div>
    <div class="pages-container">
      {% if currentPage > 1 %}
        <a href="{{currentSearch}}page={{currentPage|add:'-1'}}&epP={{entries_per_page}}" id="previous-page"></a>
      {% endif %}
      <!-- Automatically collapse the Page indices to a smaller amount if a specified threshhold is reached. -->
      {% if lastPage < 10 %}
        {% for p in pages %}
          <a href="{{currentSearch}}page={{p}}&epP={{entries_per_page}}" class="page-index {% if currentPage == p %}current-page{% endif %}">{{ p }}</a>
        {% endfor %}
      {% else %}
        {% for p in pages %}
          {% if p|add:'4' < currentPage or p|add:'-4' > currentPage %}
          {% elif p|add:'4' == currentPage or p|add:'-4' == currentPage %}
            <a class="page-index">...</a>
          {% else %}
            <a href="{{currentSearch}}page={{p}}&epP={{entries_per_page}}" class="page-index {% if currentPage == p %}current-page{% endif %}">{{ p }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if currentPage < lastPage %}
        <a href="{{currentSearch}}page={{currentPage|add:'1'}}&epP={{entries_per_page}}" id="next-page"></a>
      {% endif %}
    </div>
    <div style="text-align: right;">
      <p style="display: inline;">Einträge pro Seite:</p>
      <a href="{{currentSearch}}page={{currentPage}}&epP=10" style="display: inline;">10</a>
      <a href="{{currentSearch}}page={{currentPage}}&epP=20" style="display: inline;">20</a>
      <a href="{{currentSearch}}page={{currentPage}}&epP=30" style="display: inline;">30</a>
      <a href="{{currentSearch}}page={{currentPage}}&epP=40" style="display: inline;">40</a>
      <a href="{{currentSearch}}page={{currentPage}}&epP=50" style="display: inline;">50</a>
    </div>
  <div class="divider"></div>
  </div>
  {% for city in cities %}
    <div class="ort w-container">
      <h4 class="veranstaltungsort">{{ city.ort }}</h4>
      {% for organiser in organisers %}
        {% if organiser.user_address.ort == city.ort %}
          <a href="{% url 'accounts:profile' organiser.organisation_name %}" class="veranstalter">{{ organiser }}</a>
        {% endif %}
      {% endfor %}
      <div class="platz"></div>
      <div class="divider"></div>
    </div>
  {% endfor %}
  <div class="w-container">
    <div class="pages-container">
      {% if currentPage > 1 %}
        <a href="{{currentSearch}}page={{currentPage|add:'-1'}}&epP={{entries_per_page}}" id="previous-page"></a>
      {% endif %}
      <!-- Automatically collapse the page indices to a smaller amount if a specified threshhold is reached. -->
      {% if lastPage < 10 %}
        {% for p in pages %}
          <a href="{{currentSearch}}page={{p}}&epP={{entries_per_page}}" class="page-index {% if currentPage == p %}current-page{% endif %}">{{ p }}</a>
        {% endfor %}
      {% else %}
        {% for p in pages %}
          {% if p|add:'4' < currentPage or p|add:'-4' > currentPage %}
          {% elif p|add:'4' == currentPage or p|add:'-4' == currentPage %}
            <a class="page-index">...</a>
          {% else %}
            <a href="{{currentSearch}}page={{p}}&epP={{entries_per_page}}" class="page-index {% if currentPage == p %}current-page{% endif %}">{{ p }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if currentPage < lastPage %}
        <a href="{{currentSearch}}page={{currentPage|add:'1'}}&epP={{entries_per_page}}" id="next-page"></a>
      {% endif %}
    </div>
    <p class="paragraph-29">Haben Sie Ihren Lieblings-Kulturbetrieb nicht gefunden?<br>Dann erzählen Sie ihm doch von dieser Seite!</p>
  </div>
</div>
{% endblock %}
