{% extends "base.html" %}

{% load custom_tags %}

{% block title %}
Liste aller Veranstalter
{% endblock %}

{% block content %}
<div class="section-19">
  <div class="w-container">
    <h3 class="heading-21">Hier finden Sie alle Veranstalter, die Sie bei uns unterstützen können!</h3>
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row">
          <div class="w-col w-col-3"></div>
          <div class="w-col w-col-6">
            {{ myFilter.form.city|setHTMLAttributes:"{'class': 'text-field-2 w-input', 'placeholder': 'Nach Ort suchen...'}" }}
            <input type="submit" value="Suchen" class="submit-button-2 w-button">
            <a class="submit-button w-button" href="{% url 'accounts:organiser_list' %}">Alle anzeigen</a>
          </div>
          <div class="w-col w-col-3"></div>
        </div>
      </form>
    </div>
    <div class="pages-container">
      {% if currentPage > 1 %}
        <a href="{{currentSearch}}page={{currentPage|add:'-1'}}&epP={{entries_per_page}}" id="previous-page"></a>
      {% else %}
        <a class="disabled" id="previous-page"></a>
      {% endif %}
      <!-- Automatically collapse the Page indices to a smaller amount if a specified threshhold is reached. -->
      {% if lastPage < 10 %}
        {% for p in pages %}
          <a href="{{currentSearch}}page={{p}}&epP={{entries_per_page}}" class="page-index {% if currentPage == p %}current-page{% endif %}">{{ p }}</a>
        {% endfor %}
      {% else %}
        {% for p in pages %}
          {% if p|add:'4' < currentPage or p|add:'-4' > currentPage %}
          {% elif p|add:'4' == currentPage or p|add:'-4' == currentPage %}
            <a class="page-index">...</a>
          {% else %}
            <a href="{{currentSearch}}page={{p}}&epP={{entries_per_page}}" class="page-index {% if currentPage == p %}current-page{% endif %}">{{ p }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if currentPage < lastPage %}
        <a href="{{currentSearch}}page={{currentPage|add:'1'}}&epP={{entries_per_page}}" id="next-page"></a>
      {% else %}
        <a class="disabled" id="next-page"></a>
      {% endif %}
    </div>
    <div class="epP-container">
      <p class="epP-description">Einträge pro Seite:</p>
      <a class="epP-index {% if entries_per_page == 10 %}current-epP{% endif %}" href="{{currentSearch}}page={{currentPage}}&epP=10">10</a>
      <a class="epP-index {% if entries_per_page == 20 %}current-epP{% endif %}" href="{{currentSearch}}page={{currentPage}}&epP=20">20</a>
      <a class="epP-index {% if entries_per_page == 30 %}current-epP{% endif %}" href="{{currentSearch}}page={{currentPage}}&epP=30">30</a>
      <a class="epP-index {% if entries_per_page == 40 %}current-epP{% endif %}" href="{{currentSearch}}page={{currentPage}}&epP=40">40</a>
      <a class="epP-index {% if entries_per_page == 50 %}current-epP{% endif %}" href="{{currentSearch}}page={{currentPage}}&epP=50">50</a>
    </div>
    <div class="divider"></div>
  </div>
  {% for city in cities %}
    <div class="ort w-container">
      <h4 class="veranstaltungsort">{{ city.ort }}</h4>
      {% for organiser in organisers %}
        {% if organiser.user_address.ort == city.ort %}
          <div class="columns-8 w-row">
            <div class="normalize-image-col w-col w-col-2 w-col-small-2" style="padding-top: 8px; padding-bottom: 9px;">
              <a href="{% url 'accounts:profile' organiser.organisation_name %}">
                <img src="{{ organiser.picture.url }}" alt="" class="normalize-image">
              </a>
            </div>
            <div class="w-col w-col-10 w-col-small-10">
              <a href="{% url 'accounts:profile' organiser.organisation_name %}" class="veranstalter">{{ organiser.organisation_name }}</a>
              <p class="organizer-description"><span>{% if organiser.description %}{{ organiser.description }}{% else %}Dieser Veranstalter hat keine Beschreibung{% endif %}</span></p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="platz"></div>
      <div class="divider"></div>
    </div>
  {% endfor %}
  {% if not organisers_num %}
    <div class="ort w-container">
      <div class="platz"></div>
      <div class="divider"></div>
    </div>
  {% endif %}
  <div class="w-container">
    <div class="pages-container">
      {% if currentPage > 1 %}
        <a href="{{currentSearch}}page={{currentPage|add:'-1'}}&epP={{entries_per_page}}" id="previous-page"></a>
      {% else %}
        <a class="disabled" id="previous-page"></a>
      {% endif %}
      <!-- Automatically collapse the page indices to a smaller amount if a specified threshhold is reached. -->
      {% if lastPage < 10 %}
        {% for p in pages %}
          <a href="{{currentSearch}}page={{p}}&epP={{entries_per_page}}" class="page-index {% if currentPage == p %}current-page{% endif %}">{{ p }}</a>
        {% endfor %}
      {% else %}
        {% for p in pages %}
          {% if p|add:'4' < currentPage or p|add:'-4' > currentPage %}
          {% elif p|add:'4' == currentPage or p|add:'-4' == currentPage %}
            <a class="page-index">...</a>
          {% else %}
            <a href="{{currentSearch}}page={{p}}&epP={{entries_per_page}}" class="page-index {% if currentPage == p %}current-page{% endif %}">{{ p }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if currentPage < lastPage %}
        <a href="{{currentSearch}}page={{currentPage|add:'1'}}&epP={{entries_per_page}}" id="next-page"></a>
      {% else %}
        <a class="disabled" id="next-page"></a>
      {% endif %}
    </div>
    <p class="paragraph-29">Haben Sie Ihren Lieblings-Kulturbetrieb nicht gefunden?<br>Dann erzählen Sie ihm doch von dieser Seite!</p>
  </div>
</div>
<script>
  window.onload = function () {
    var descs = document.getElementsByClassName("organizer-description");

    for(var i = 0; i < descs.length; i++) {
      if(descs[i].clientHeight < descs[i].scrollHeight) {
        var content = descs[i].firstChild;
        while(content.offsetHeight > 80) {
          content.innerHTML = content.innerHTML.slice(0, -1);
        }
        content.innerHTML = content.innerHTML.slice(0, -3);
        content.innerHTML = content.innerHTML + "...";
      }
    }
  }
</script>
{% endblock %}
