{% extends "base.html" %}

{% load static %}

{% block title %}
Events von {{ organiser }}
{% endblock %}

{% block additionaljs %}
<script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div class="section cc-store-home-wrap">
    <div class="container-16 w-container">
      <div class="intro-text">
        <h1 class="heading-2">{{ organiser.organisation_name }}</h1>
        <div class="div-block"></div>
      </div>
      {% if organiser.description %}
	  	<p class="paragraph-18">{{ organiser.description|linebreaksbr }}</p>
	  {% endif %}
      <h3>Alle Events von {{ organiser.organisation_name }}</h3>
      <div class="w-layout-grid grid-6">
        {% for event in event_list %}
          <div class="text-block-2">{{ event.date }}</div>
          <div class="text-block-3"><a href='{{event.get_absolute_url}}'>{{ event.name }}</a></div>
          <a href="{{event.get_absolute_url}}edit/"><img src="{% static 'images/icons8-edit-24.png' %}" alt=""></a>
          <a href="{{event.get_absolute_url}}delete/"><img src="{% static 'images/delete-24px.svg' %}" alt=""></a>
        {% endfor %}
	  </div>
    </div>
    <div class="container-14 w-container">
		{% if organiser.paypal_email %}
			<a href="{% url 'accounts:events:event_create' organiser_user.organisation_name %}" class="button-5 w-button">Neue Veranstaltung erstellen</a>
		{% else %}
			<p>Sie können erst neue Veranstaltungen erstellen, wenn Sie eine Email-Adresse für Ihr Paypal-Konto in Ihrem Profil hinterlegt haben, da Sie sonst keine Zahlungen empfangen können.</p>
		{% endif %}
	</div>
    <div class="w-container">
      <h6 class="heading-20">Teilen Sie diesen Link mit ihren Unterstützern, um sie zum Spenden aufzurufen</h6>
      <div class="w-form">
        <div class="w-layout-grid grid-4">
          <div></div>
  		  <input type="text" class="text-field-2 w-input" maxlength="256" name="field" data-name="Field" readonly id="link" value="{{ organiser.get_share_url }}">
  		  <img src="{% static 'images/icons8-copy-24.png' %}" alt="" onclick="copyLink();" id="copyToClip" title="In Zwischenablage kopieren">
  		</div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section-21">
	<div class="w-container">
	  <h3>Ihre Daten</h3>
	  <div class="w-row">
		<div class="column-25 w-col w-col-6">
		  <p class="paragraph-15">Ansprechpartner</p>
		  <p>{{ organiser.contact_first_name }} {{ organiser.contact_last_name }}</p>
		</div>
		<div class="column-26 w-col w-col-6">
		  <p class="paragraph-15">Email-Adresse</p>
		  <p class="paragraph-16">{{ organiser.email }}</p>
		</div>
	  </div>
	  <div class="w-row">
		<div class="column-27 w-col w-col-6">
		  <p class="paragraph-15">Name der Organisation</p>
		  <p>{{ organiser.organisation_name }}</p>
		</div>
		<div class="column-28 w-col w-col-6">
		  <p class="paragraph-15">Art der organisation</p>
		  <p>{{ organiser.organisation_type }}</p>
		</div>
	  </div>
	  <div class="w-row">
		<div class="column-29 w-col w-col-6">
		  <p class="paragraph-15">Adresse</p>
		  <p>{{ organiser.user_address.strasse }} {{ organiser.user_address.hnummer }}<br>{{ organiser.user_address.plz }}, {{ organiser.user_address.ort }}</p>
		</div>
		<div class="column-30 w-col w-col-6">
			{% if organiser.contact_phone %}
			  <p class="paragraph-15">Telefonnummer</p>
			  <p>{{ organiser.contact_phone }}</p>
			{% endif %}
		</div>
	  </div>
	  <div class="w-row">
        <div class="column-29 w-col w-col-6">
		  {% if organiser.paypal_email %}
          	<p class="paragraph-15">Ihr Paypal-Geschäftskonto</p>
		  	<p>{{ organiser.paypal_email }}</p>
		  {% endif %}
        </div>
        <div class="column-30 w-col w-col-6"></div>
      </div>
	  <a href="{% url 'accounts:profile_update' %}" class="button-9 w-button">Profil bearbeiten</a>
	</div>
  </div>
  <div class="container-17 w-container"><a href="{% url 'accounts:profile_delete' %}" class="button-11 w-button red-background">Profil löschen</a></div>
{% endblock %}
