{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}
Mein Profil bearbeiten
{% endblock %}

{% block content %}
<div class="section-20">
    <div class="w-container">
      <div class="div-block-9">
		<img src="{{ organiser_user.picture.url }}" alt="" class="image-12">
        <h1 class="heading-23">Profil bearbeiten</h1>
        <div class="divider"></div>
      </div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" action="#" class="form" method='POST' enctype="multipart/form-data"> {% csrf_token %}
			<label for="name" class="field-label">E-Mail-Adresse</label>
			{{ organiser_form.email.errors }}
			{{ organiser_form.email|setHTMLAttributes:"{'class': 'text-field-2 w-input'}" }}
			<label for="name" class="field-label">Ansprechpartner</label>
          <div class="w-row">
            <div class="column-11 w-col w-col-6">
				{{ organiser_form.contact_first_name.errors }}
				{{ organiser_form.contact_first_name|setHTMLAttributes:"{'class': 'text-field-2 w-input', 'placeholder': 'Vorname'}" }}
			</div>
            <div class="column-12 w-col w-col-6">
				{{ organiser_form.contact_last_name.errors }}
				{{ organiser_form.contact_last_name|setHTMLAttributes:"{'class': 'text-field-2 w-input', 'placeholder': 'Nachname'}" }}
			</div>
		  </div>
		  <label for="picture">Profilbild</label>
		  {{ organiser_form.picture.errors }}
		  {{ organiser_form.picture|setHTMLAttributes:"{'class': 'text-field-2 w-input'}" }}
		  <label for="Name-der-Organisation">Name der Organisation</label>
		  {{ organiser_form.organisation_name.errors }}
		  {{ organiser_form.organisation_name|setHTMLAttributes:"{'class': 'text-field-2 w-input'}" }}
		  <label for="Art">Erzählen sie ihren Spendern etwas über sich und ihre aktuelle situation</label>
		  {{ organiser_form.description.errors }}
		  {{ organiser_form.description|setHTMLAttributes:"{'rows': 2,'class': 'textarea-2 w-input', 'placeholder': '(optional)'}" }}
		  <label for="Art">Art der Organisation</label>
		  {{ organiser_form.organisation_type.errors }}
		  {{ organiser_form.organisation_type|setHTMLAttributes:"{'class': 'select-field w-select'}" }}
			<label for="Art">Adresse</label>
          <div class="w-row">
            <div class="column-13 w-col w-col-9">
				{{ address_form.strasse.errors }}
				{{ address_form.strasse|setHTMLAttributes:"{'class': 'text-field-2 text-field-ind w-input', 'placeholder': 'Straße'}" }}
			</div>
            <div class="column-14 w-col w-col-3">
				{{ address_form.hnummer.errors }}
				{{ address_form.hnummer|setHTMLAttributes:"{'class': 'text-field-2 w-input', 'placeholder': 'HausNr'}" }}
			</div>
          </div>
          <div class="w-row">
            <div class="column-15 w-col w-col-4">
				{{ address_form.plz.errors }}
				{{ address_form.plz|setHTMLAttributes:"{'class': 'text-field-2 w-input', 'placeholder': 'Postleitzahl'}" }}
			</div>
            <div class="column-16 w-col w-col-8">
				{{ address_form.ort.errors }}
				{{ address_form.ort|setHTMLAttributes:"{'class': 'text-field-2 w-input', 'placeholder': 'Ort'}" }}
			</div>
		  </div><label for="Art">Telefonnummer</label>
		  {{ organiser_form.contact_phone.errors }}
		  {{ organiser_form.contact_phone|setHTMLAttributes:"{'class': 'text-field-2 w-input', 'placeholder': '(optional)'}" }}
		  <label for="Kontoinhaber">Ihre Paypal-Geschäftskonto E-Mail-Adresse</label>
		  {{ organiser_form.paypal_email.errors }}
		  {{ organiser_form.paypal_email|setHTMLAttributes:"{'class': 'text-field-2 w-input', 'placeholder': '(optional)'}" }}
		  <a href="{% url 'accounts:password_change' %}">Passwort ändern</a>
		  <input type="submit" value="Änderungen speichern" data-wait="Please wait..." class="submit-button edit w-button">
		  <a href="{% url 'accounts:profile' organiser_user %}" class="button-11 w-button">Abbrechen</a>
		</form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Ihre Angaben sind fehlerhaft. Versuchen Sie es erneut.</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
