{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Über uns</title>
{% endblock %}

{% block content %}
<div class="section-14">
    <div class="w-container">
      <h3 class="heading-16">Hi!</h3>
      <h5>Wer wir sind</h5>
	  <p class="paragraph-11">Wir sind ein Team von Studierenden des Hasso-Plattner-Instituts an der Uni Potsdam, die soli-ticket.de während der Corona-Krise entwickeln. Als Team aus Informatikern sind wir glücklicherweise bestens aufgestellt, um auch übers Internet unseren Beitrag zu leisten.</p>
      <div class="w-row">
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6"><img src="{% static 'images/Bild-Yannis.jpg' %}" alt="">
          <p class="team">Yannis</p>
        </div>
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6"><img src="{% static 'images/IMG_0676-Cropped.jpg' %}" sizes="(max-width: 479px) 100vw, (max-width: 767px) 30vw, (max-width: 991px) 104.65625px, 139.984375px" alt="">
          <p class="team">Ivan </p>
        </div>
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6"><img src="{% static 'images/photo_2020-03-27_12-58-55-Cropped.jpg' %}" sizes="(max-width: 479px) 100vw, (max-width: 767px) 30vw, (max-width: 991px) 104.65625px, 139.984375px" alt="">
          <p class="team">Nils</p>
        </div>
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6"><img src="{% static 'images/photo_2020-03-28_14-19-23-Cropped.jpg' %}" alt="">
          <p class="team">Jannis</p>
        </div>
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6"><img src="{% static 'images/photo_2020-03-27_12-59-00-Cropped.jpg' %}" alt="">
          <p class="team">Chris</p>
        </div>
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6"><img src="{% static 'images/Fabian-Mahling.highres-1-Cropped.jpg' %}" sizes="(max-width: 479px) 100vw, (max-width: 767px) 30vw, (max-width: 991px) 104.65625px, 139.984375px" alt="">
          <p class="team">Fabian</p>
        </div>
      </div>
      <h5>Unsere Vision</h5>
      <p>Eine Plattform, auf der Vereine, Künstler*innen, Gewerbetreibende sich unkompliziert an Ihre Kundschaft, Fans &amp; Unterstützer/innen wenden können, um die Krisenzeit finanziell besser zu überstehen. Unsere Vision ist, Menschen dazu zu bewegen Solidarität zu zeigen und ihren Lieblingskulturstätten finanziell durch die momentane Krise zu helfen. Die Idee des Soli-Tickets ummantelt die Zahlung mit dem Gedanken, dass diese Menschen diesen Betrag sowieso ausgegeben hätten und er den Kulturstätten jetzt fehlt. Mit unserem Projekt wollen wir die Barrieren für Betreiber und potentielle Unterstützer so stark minimieren, dass in dieser schwierigen Zeit unsere Gesellschaft sich möglichst einfach von ihrer solidarischen Seite zeigen kann.</p>
      <h5>Weshalb wir das tun</h5>
    <p>Wir bauen diese Plattform nicht mit wirtschaftlichen Ambitionen, sondern wollen den vielen, insbesondere kleinen Vereinen und Betrieben helfen, diese Krise zu bewältigen. Wir werden von den Einnahmen der über unsere Plattform verkauften Tickets oder Waren KEINE Anteile oder Gebühren nehmen. Das Geld fließt direkt an die jeweiligen Veranstalter, Vereine, etc. . Je nach gewählter Zahlungsart kann es jedoch sein, dass eine kleine Gebühr an den jeweiligen Zahlungsanbieter fließt. Das können wir leider nicht ändern. Wenn Sie uns dabei helfen möchten, unsere Kosten zu decken, können Sie uns hier unterstützen:</p>
    <a href="http://soli-ticket.de/event/Soli-Ticket/">Soli-Ticket unterstützen</a>
	</div>
  </div>
{% endblock %}