{% extends 'base.html' %}

{% block title %}
<title>Über uns</title>
{% endblock %}

{% block content %}
<div class="section-14">
    <div class="w-container">
      <h3 class="heading-16">Hi!</h3>
      <h5>Wer wir sind</h5>
      <p class="paragraph-11">Wir sind ein Team von Studierenden der Uni Potsdam, die soli-ticket.de während der Corona-Krise entwickeln. Als Team aus Informatikern sind wir glücklicherweise bestens aufgestellt, um auch übers Internet unseren Beitrag zu leisten.</p>
      <h5>Unsere Vision</h5>
      <p>Eine Plattform, auf der Vereine, Künstler*innen, Gewerbetreibende sich unkompliziert an Ihre Kundschaft, Fans &amp; Unterstützer/innen wenden können, um die Krisenzeit finanziell besser zu überstehen.Unsere Vision ist, Menschen dazu zu bewegen Solidarität zu zeigen und ihren Lieblingskulturstätten finanziell durch die momentane Krise zu helfen. Die Idee des Soli-Tickets ummantelt die Spende mit dem Gedanken, dass diese Menschen diesen Betrag sowieso ausgegeben hätten und er den Kulturstätten jetzt fehlt.Mit unserem Projekt wollen wir die Barrieren für Betreiber und potentielle Spender so stark minimieren, dass in dieser schwierigen Zeit unsere Gesellschaft sich möglichst einfach von ihrer solidarischen Seite zeigen kann.</p>
      <h5>Weshalb wir das tun</h5>
      <p>Wir bauen diese Plattform nicht mit wirtschaftlichen Ambitionen, sondern wollen den vielen, insbesondere kleinen Vereinen und Betrieben helfen, diese Krise zu bewältigen. Wir werden von den Einnahmen der über unsere Plattform verkauften Tickets oder Waren KEINE Anteile oder Gebühren nehmen. Das Geld fließt direkt an die jeweiligen Veranstalter, Vereine, etc. . Je nach gewählter Zahlungsart kann es jedoch sein, dass eine kleine Gebühr an den jeweiligen Zahlungsanbieter fließt. Das können wir leider nicht ändern. Um unsere Kosten zu decken (Server, Software, Materialien, evtl. Personalkosten) planen wir, Spender*innen/Käufer*innen von Soli-Tickets die Möglichkeit zu geben auch uns (freiwillig!) einen Beitrag zu leisten.</p>
    </div>
  </div>
{% endblock %}