{%  extends 'solisite/base.html' %}

{% block content %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>USERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'start' %}">Create User</a>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>View</th>
				</tr>

        {% for organiser in organisers %}
          <tr>
              <td>{{ organiser.name }}</td>
							<td><a class="btn btn-sm btn-info" href="{% url 'profile' organiser.id %}">View</a></td>
          </tr>
        {% endfor %}

      </table>
		</div>
	</div>

{% endblock %}
