{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="heroklasse">
    <div class="container-5 w-container">
      <h2 class="heading-4">Auch Solidarität ist ansteckend</h2>
	  <p class="paragraph-7">Hier können Sie kostenfrei Soli-Tickets für abgesagte Veranstaltungen verkaufen, um die Folgen der Corona-Krise zu mildern. Geben Sie Ihren Fans &amp; Besucher*innen die Möglichkeit, Sie auch in Krisenzeiten unkompliziert online zu unterstützen!</p>
	  <div class="w-row">
        <div class="w-col w-col-4"></div>
        <div class="w-col w-col-4"><a href="#registrieren" class="submit-button hero-button w-button">Verein/Unternehmen anmelden</a></div>
        <div class="w-col w-col-4"></div>
      </div>
	</div>
  </div>
  <div class="section-10">
    <div class="container-6 w-container">
      <h2 class="heading-6">Wie Soli-Tickets für Veranstalter funktionieren</h2>
      <p class="paragraph-8">Soli-Tickets sind Spenden, die sich in ihrer Höhe an Verkaufspreisen von abgesagten Veranstaltungen orientieren</p>
    </div>
    <div class="w-row">
      <div class="column-6 w-col w-col-3">
        <h2 class="heading-9">1.</h2>
        <h4 class="heading-10">Account erstellen</h4>
        <p class="paragraph-9">Wir brauchen nur wenige Infos, um Ihre Soli-Tickets verkaufen zu können.</p>
      </div>
      <div class="column-7 w-col w-col-3">
        <h2 class="heading-9">2.</h2>
        <h4 class="heading-11">Veranstaltung hinzufügen</h4>
        <p class="paragraph-9">Fügen Sie eine (abgesagte) Veranstaltung, Ticketpreise und Extras hinzu.</p>
      </div>
      <div class="column-8 w-col w-col-3">
        <h2 class="heading-9">3.</h2>
        <h4 class="heading-10">Teilen</h4>
        <p class="paragraph-9">Teilen Sie Ihre Veranstaltung mit Social-Media Kontakten, Besucher*innen, Freunden und Fans.</p>
      </div>
      <div class="column-9 w-col w-col-3">
        <h2 class="heading-9">4.</h2>
        <h4 class="heading-10">Spenden sammeln</h4>
        <p class="paragraph-9">Schon sind Ihre Soli-Tickets online. Die Spenden fließen driekt an Sie, wir nehmen keine Anteile oder Gebühren.</p>
      </div>
    </div>
  </div>
  <div class="section-11">
    <div class="w-row">
      <div class="w-col w-col-3"><img src="{% static 'images/iconmonstr-calendar-6.svg' %}" width="100" alt="" class="icons">
        <h5 class="heading-12">Veranstalter</h5>
        <p class="paragraph-10">Ihre Varanstaltungen müssen abgesagt werden? Verkaufen Sie Ihre virtuellen Tickets und Extras an Ihre Unterstützer und Fans!</p>
      </div>
      <div class="w-col w-col-3"><img src="{% static 'images/iconmonstr-paintbrush-8.svg' %}" width="100" alt="" class="image-5 icons">
        <h5 class="heading-12">Künstler</h5>
        <p class="paragraph-10">Ihr Event fällt aus? Wichtige Einnahmen gehen verloren? Geben Sie Ihren Fans die Möglichkeit Sie trotzdem zu unterstützen!</p>
      </div>
      <div class="w-col w-col-3"><img src="{% static 'images/iconmonstr-location-25.svg' %}" width="100" alt="" class="image-7 icons">
        <h5 class="heading-12">Betreiber (z.B. von Restaurants)</h5>
        <p class="paragraph-10">Ihr Geschäft/Restaurant/ Kneipe musste schließen? Geben Sie Ihren treuen Kunden die Möglichkeit Sie trotzdem zu unterstützen!</p>
      </div>
      <div class="w-col w-col-3"><img src="{% static 'images/iconmonstr-favorite-3.svg' %}" width="100" alt="" class="image-8 icons">
        <h5 class="heading-12">Besucher &amp; Kunden</h5>
        <p class="paragraph-10">Unterstützen Sie die vielen Eigentümer, Angestellte und andere Beteiligte Ihrer liebsten Kulturstätten, indem Sie das Geld, das Sie sonst auch ausgegeben hätten, in den Fortbestand dieser Orte investieren!</p>
      </div>
    </div>
  </div>
  <div class="headerline"></div>
  <div class="section-12">
    <div class="w-container">
      <blockquote class="block-quote">&quot;Mit &#x27;Soli-Tickets&#x27;, die aufgrund des Corona Stillstandes für nicht erbringbare Leistungen zu erwerben sind, können der Kulturbetrieb, aber auch andere Bereiche des gesellschaftlichen Lebens unterstützt werden.<br>Je mehr Veranstalter diese Idee aufgreifen, desto besser!&quot;</blockquote>
      <h4 class="heading-14"><strong>~</strong> SPD-Bundestagsabgeordnete Nina Scheer</h4>
    </div>
  </div>
  <div class="section-10" id="registrieren">
    <div class="container-10 w-container">
      <h2 class="heading-15">Sie sind Veranstalter und wollen schnellstmöglich Soli-Tickets verkaufen?</h2>
      <p>Melden Sie Ihre gemeinnützige Organisation jetzt an, um unkompliziert und kostenfrei Soli-Tickets zu verkaufen. Nicht gemeinnützige Organisationen kontaktieren wir zeitnahe, sobald wir diesen Service auch für Sie anbieten können.</p>
      <div class="w-row">
        <div class="w-col w-col-5"><a href="{% url 'accounts:register' %}" class="submit-button zweibuttons w-button">Für gemeinnützige Organisationen</a></div>
        <div class="w-col w-col-5"><a href="{% url 'blog' %}" class="submit-button w-button">Für nicht-gemeinnützige Organisationen</a></div>
        <div class="w-col w-col-2"></div>
      </div>
    </div>
  </div>
{% endblock %}