{% extends 'base.html' %}

{% load static %}

{% block title %}
Zahlung abgebrochen
{% endblock %}

{% block content %}
<div class="section-24">
    <div class="w-container">
      <h1 class="heading-29">Zahlung abgebrochen :(</h1>
      <div class="div-block-10"></div>
      <p class="paragraph-22">Upps, da ist wohl etwas schief gegangen. Bitte versuchen Sie es nochmal. Falls dies wiederholt geschieht, schreiben Sie uns bitte eine Mail an soliticket@gmail.com.</p>
    </div>
  </div>
{% endblock %}