{% extends 'base.html' %}

{% load static %}

{% block title %}
Zahlung erfolgreich
{% endblock %}

{% block content %}
<div class="section-24">
  <div class="w-container">
    <h1 class="heading-29">Zahlung erfolgreich abgeschlossen!</h1>
    <div class="div-block-10"></div>
    <p class="paragraph-22">Der Veranstalter und das Team von Soli-Ticket bedanken sich bei Ihnen. Sie erhalten in Kürze eine Bestätigungsmail.</p>
    <p class="paragraph-21">Wir, das Team von Soli-Ticket, betreiben diese kostenfreie Plattform als Projekt neben unserem Studium. Falls Sie auch uns einen Kaffee ausgeben möchten oder uns helfen möchten unsere Kosten zu decken, können Sie dies auf der folgenden Seite tun (Sie werden in Kürze auf diese Seite weitergeleitet)</p>
    <a href="http://soli-ticket.de/event/Soli-Ticket/" class="link-4">Bedanken beim Team von Soli-Ticket</a>
  </div>
</div>
{% endblock %}
