{% extends 'base.html' %}

{% load static %}

{% block title %}
Mit Paypal zahlen
{% endblock %}

{% block content %}
<script src="https://assets.braintreegateway.com/v1/braintree-oauth-connect.js"></script>

<div class="section-27">
  <div class="w-container">
    <h3 class="heading-32">Zahlungsmethode</h3>
	  <p class="paragraph-27">Zurzeit bieten wir nur PayPal als Zahlungsmethode an. In Zukunft werden Sie hier noch viele Alternativen dazu vorfinden :)</p>
    <div style="width: 100px; margin: auto;">
      {{ form.render }}
    </div>
  </div>
</div>


<div id = "my-container-id"></div>

<script>
  var connectUrl = "{{connect_url_from_server}}";
  var partner = new BraintreeOAuthConnect({
    connectUrl: connectUrl,
    container: 'my-container-id' // DOM node, DOM element ID, or jQuery object
  });
</script>



{% endblock %}
