{%  extends 'base.html' %}

{% block content %}

<div class="section-28">
    <div class="w-container">
      <h1>ups...</h1>
      <p>Hallo lieber Unterstützer! Wir haben vor kurzer Zeit ein Update veröffentlicht, bei dem der Veranstalter eine PayPal Email-Adresse hinterlegen muss, um weiterhin Unterstützungen erhalten zu können. Dies wird in Kürze geschehen. Wir arbeiten mit Hochdruck daran. <br>Um von Neuerungen zu erfaheren, können Sie sich gerne auf der News-Seite für den Newsletter anmelden.<br></p><a href="#">News</a></div>
  </div>
{% endblock %}
