{% extends 'base.html' %}

{% load static %}

{% load custom_tags %}

{% block title %}
Veranstaltung bearbeiten
{% endblock %}

{% block content %}
    <div class="section cc-store-home-wrap">
        <div class="form-header">
            <div class="intro-content cc-homepage">
                <div class="intro-text">
                    <div class="heading-jumbo">Was möchten Sie gerne ändern?</div>
                    <div class="div-block"></div>
                    <div class="paragraph-bigger cc-bigger-white-light">Veranstaltung bearbeiten<br></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="w-form">
                <form id="email-form" name="email-form" data-name="Email Form" class="form" method="POST"> {% csrf_token %}
                    <div class="w-row">
                        <div class="w-col w-col-3"></div>
                        <div class="w-col w-col-6">
							<label for="{{ event_form.name.id_for_label }}">Name der Veranstaltung</label>
							{{ event_form.name.errors }}
							{{ event_form.name|setHTMLAttributes:"{'class':'text-field-2 w-input', 'placeholder':'Veranstaltungsname'}" }}
							<label for="{{ location_form.location_name.id_for_label }}">Wo Hätte die Veranstaltung stattgefunden?</label>
							{{ location_form.location_name.errors }}
							{{ location_form.location_name|setHTMLAttributes:"{'class':'text-field-2 w-input', 'placeholder':'Name des Veranstaltungsortes'}" }}
                            <div class="w-row">
                                <div class="w-col w-col-9">
									{{ location_form.street.errors }}
									{{ location_form.street|setHTMLAttributes:"{'class':'text-field-2 w-input', 'placeholder':'Straße (optional)'}" }}
                                </div>
                                <div class="w-col w-col-3">
									{{ location_form.house_number.errors }}
									{{ location_form.house_number|setHTMLAttributes:"{'class':'text-field-2 w-input', 'placeholder':'HausNr (optional)'}" }}
                                </div>
                            </div>
                            <div class="w-row">
                                <div class="w-col w-col-4">
									{{ location_form.post_code.errors }}
									{{ location_form.post_code|setHTMLAttributes:"{'class':'text-field-2 w-input', 'placeholder':'Postleitzahl (optional)'}" }}
                                </div>
                                <div class="w-col w-col-8">
									{{ location_form.city.errors }}
									{{ location_form.city|setHTMLAttributes:"{'class':'text-field-2 w-input', 'placeholder':'Ort (optional)'}" }}
                                </div>
							</div>
							{{ event_form.date.errors }}
							<label for="{{ event_form.date.id_for_label }}">Wann Hätte die Veranstaltung stattgefunden?</label>
							{{ event_form.date|setHTMLAttributes:"{'class':'text-field-2 w-input', 'autocomplete': 'off', 'placeholder':'Format: DD.MM.YYYY'}" }}
                            <script>
                                $(function () {
                                  $("#id_date").datepicker({
                                      language:"de-DE",
                                      format:"dd.mm.yyyy",
                                      autoHide: true,
                                      weekStart: 1,
                                  });
                                });
                            </script>
                            <!-- <input type="text" class="text-field-2 w-input" maxlength="256" name="DateTime" data-name="DateTime" placeholder="" id="DateTime" required=""> -->
                            <label for="{{ event_form.description.id_for_label }}" class="field-label-3">Kurzbeschreibung / Spendenaufruf</label>
							<label for="{{ event_form.description.id_for_label }}" class="field-label-2">Ergänzen Sie hier neben mehr Informationen zu Ihrer Veranstaltung gerne auch eine persönliche Botschaft an Ihre Unterstützer (Ihren &quot;Spendenaufruf&quot;)</label>
							{{ event_form.description.errors }}
							{{ event_form.description|setHTMLAttributes:"{'class':'textarea text-field-2 w-input', 'placeholder':'Erzählen Sie mehr!'}" }}
							<label for="Name-der-Organisation-2" class="field-label-2">Fügen Sie nun die verschiedenen Dinge hinzu, die Ihre Besucher/Kunden üblicherweise vor und während Ihrer Veranstaltungen erworben hätten. Dazu gehören natürlich die Tickets, aber auch z.B. die Portion Popcorn, die Cola oder Anderes.</label>
                            <div class="w-layout-grid grid-7">
                                <label>Tickets/Getränke/...</label>
                                <label>Preis (€)</label>
                                <label>Mwst</label>
                                {{ buyable_formset.management_form }}
                                {% for buyable_form in buyable_formset %}
                                    {{buyable_form.id}}
                                    <div>
                                        {{ buyable_form.buyable_name.errors }}
                                        {{ buyable_form.buyable_name|setHTMLAttributes:"{'class':'text-field-2 w-input', 'placeholder':'Bezeichnung des Tickets/Getränks/der Speise'}" }}
                                        {{ buyable_form.DELETE.label }}
								        {{ buyable_form.DELETE}}
                                    </div>
                                    <div>
                                        {{ buyable_form.price.errors }}
                                        {{ buyable_form.price|setHTMLAttributes:"{'class': 'text-field-2 w-input', 'placeholder': '0,00', 'min': '0'}" }}
                                    </div>
                                    <div>
                                        {{ buyable_form.tax_rate.errors }}
                                        {{ buyable_form.tax_rate|setHTMLAttributes:"{'class': 'text-field-2 w-select'}" }}
                                    </div>
                                {% endfor %}
                            </div>
							<div class="w-row">
								<div class="w-col w-col-3"><input type="submit" value="Speichern" data-wait="Bitte warten..." class="submit-button w-button"></div>
								<div class="w-col w-col-9"><a href="{% url 'accounts:profile' organiser_user.organisation_name %}" class="button-4 w-button">Abbrechen</a></div>
							</div>
						</div>
                        <div class="w-col w-col-3 w-col-tiny-tiny-stack"></div>
                    </div>
                </form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Ihre Angaben sind fehlerhaft. Versuchen Sie es erneut.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
