{% extends 'base.html' %}
<!--  
<form action='.' method='POST'> {% csrf_token %}
	{{ event_form.as_p }}
    <h2>Wo wird das Event stattfinden?</h2>
    {{ location_form.as_p }}
    <h2>Welche Produkte möchtest du verkaufen?</h2>
    {{ buyable_form.as_p }}
    <p>Hinweis: Du kannst später in deiner Eventübersicht noch mehr Produkte hinzufügen.</p>
    <p>Hinweis 2: Sobald kein Name für ein Produkt angegeben wird wird dieses nicht gespeichert</p>
    <input type='submit' value="Speichern" /><a href='../'>Abbrechen</a>
</form>
 -->

{% load static %}

{% block title %}
<title>Neue Veranstaltung erstellen</title>
{% endblock %}

{% block content %}
    <div class="section cc-store-home-wrap">
        <div class="form-header">
            <div class="intro-content cc-homepage">
                <div class="intro-text">
                    <div class="heading-jumbo">Erzählen Sie uns etwas über Ihre Veranstaltung</div>
                    <div class="div-block"></div>
                    <div class="paragraph-bigger cc-bigger-white-light">Veranstaltung erstellen<br></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="w-form">
                <form id="email-form" name="email-form" data-name="Email Form" class="form" method="POST"> {% csrf_token %}
                    <div class="w-row">
                        <div class="w-col w-col-3"></div>
                        <div class="w-col w-col-6">
							{{ event_form.name.errors }}
							<label for="{{ event_form.name.id_for_label }}">Name der Veranstaltung</label>
							{{event_form.name}}
                            <!-- <input type="text" class="text-field-2 w-input" maxlength="256" name="{{ event_form.name.id_for_label }}" data-name="Name der Organisation" placeholder="Veranstaltungsname" id="Name-der-Organisation" required=""> -->
							{{ location_form.location_name.errors }}
							<label for="{{ location_form.location_name.id_for_label }}">Wo Hätte die Veranstaltung stattgefunden?</label>
							{{ location_form.location_name }}
                            <!-- <input type="text" class="text-field-2 w-input" maxlength="256" name="Name-Des-Veranstaltungsortes" data-name="Name Des Veranstaltungsortes" placeholder="Name des Veranstaltungsortes" id="Name-Des-Veranstaltungsortes" required=""> -->
                            <div class="w-row">
                                <div class="w-col w-col-9">
									{{ location_form.street.errors }}
									{{ location_form.street }}
                                    <!-- <input type="text" class="text-field-2 text-field-ind w-input" maxlength="256" name="Stra-e" data-name="Straße" placeholder="Straße (Optional)" id="Stra-e"> -->
                                </div>
                                <div class="w-col w-col-3">
									{{ location_form.house_number.errors }}
									{{ location_form.house_number }}
                                    <!-- <input type="text" class="text-field-2 w-input" maxlength="256" name="HN" data-name="HN" placeholder="HausNr (Optional)" id="HN"> -->
                                </div>
                            </div>
                            <div class="w-row">
                                <div class="w-col w-col-4">
									{{ location_form.post_code.errors }}
									{{ location_form.post_code }}
                                    <!-- <input type="text" class="text-field-2 w-input" maxlength="256" name="PLZ" data-name="PLZ" placeholder="Postleitzahl (Optional)" id="PLZ"> -->
                                </div>
                                <div class="w-col w-col-8">
									{{ location_form.city.errors }}
									{{ location_form.city }}
                                    <!-- <input type="text" class="text-field-2 w-input" maxlength="256" name="Ort" data-name="Ort" placeholder="Ort (Optional)" id="Ort"> -->
                                </div>
							</div>
							{{ event_form.date.errors }}
							<label for="{{ event_form.date.id_for_label }}">Wann Hätte die Veranstaltung stattgefunden?</label>
							{{ event_form.date }}
                            <!-- <input type="text" class="text-field-2 w-input" maxlength="256" name="DateTime" data-name="DateTime" placeholder="" id="DateTime" required=""> -->
                            <label for="{{ event_form.description.id_for_label }}" class="field-label-3">Kurzbeschreibung / Spendenaufruf</label>
							<label for="{{ event_form.description.id_for_label }}" class="field-label-2">Ergänzen Sie hier neben mehr Informationen zu Ihrer Veranstaltung gerne auch eine persönliche Botschaft an Ihre Unterstützer (Ihren &quot;Spendenaufruf&quot;)</label>
							{{ event_form.description.errors }}
							{{ event_form.description }}
                            <!-- <textarea placeholder="Erzählen Sie mehr!" maxlength="5000" id="field-4" name="field-4" required="" data-name="Field 4" class="textarea text-field-2 w-input"></textarea> -->
                            <div class="w-row">
								<div class="w-col w-col-10">
									<label>Tickets/Speisen/Getränke</label>
									<label for="Name-der-Organisation-2" class="field-label-2">Fügen Sie nun die verschiedenen Dinge hinzu, die Ihre Besucher/Kunden üblicherweise vor und während Ihrer Veranstaltungen erworben hätten. Dazu gehören natürlich die Tickets, aber auch z.B. die Portion Popcorn, die Cola oder Anderes</label>
								</div>
                                <div class="w-col w-col-2">
									<label>Preis (€)</label>
								</div>
                            </div>
                            <div class="w-row">
                                <div class="w-col w-col-10">
									{{ buyable_form.buyable_name.errors }}
									{{ buyable_form.buyable_name }}
									<!-- <input type="text" class="text-field-2 w-input" maxlength="256" name="Bezeichnung-3" data-name="Bezeichnung 3" placeholder="Bezeichnung (z.B. &quot;Solidaritätsticket Kat. A&quot;)" id="Bezeichnung-3" required=""> -->
								</div>
                                <div class="w-col w-col-2">
									{{ buyable_form.price.errors }}
									{{ buyable_form.price }}
									<!-- <input type="number" class="text-field-2 w-input" maxlength="256" name="field-3" data-name="Field 3" placeholder="0,00" id="field-3" required=""> -->
								</div>
							</div>
							<div class="w-row">
								<div class="w-col w-col-2"><input type="submit" value="Fertig!" data-wait="Bitte warten..." class="submit-button w-button"></div>
								<div class="w-col w-col-2"><a href="../{{organiser}}" class="submit-button abbrechen-button w-button">Abbrechen</a></div>
								<div class="w-col w-col-8"></div>
							</div>
						</div>
                        <div class="w-col w-col-3"></div>
                    </div>
                </form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Ihre Angaben sind fehlerhaft. Versuchen Sie es erneut.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}