{% extends 'base.html' %}

{% load static %}

{% block title %}
	<title>{{ event.name }} ansehen</title>
{% endblock title %}

{% block content %}
  <div class="section cc-store-home-wrap">
    <div class="form-header">
      <div class="intro-content cc-homepage"></div>
    </div>
    <div class="intro-text">
      <div class="w-row">
        <div class="w-col w-col-9">
          <div class="heading-jumbo">{{ event.name }}</div>
          <div class="divider"></div>
        </div>
        <div class="w-col w-col-3"></div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-9">
          <p class="paragraph-bigger cc-bigger-white-light">Ein Event von {{ event.creator }} hätte am {{ event.date }} stattgefunden.</p>
        </div>
        <div class="w-col w-col-3"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-8">
          <p class="paragraph-2">{{ event.description }}</p>
        </div>
        <div class="column-4 w-col w-col-4"><a href="#Tickets" class="submit-button w-button">Zu den Tickets</a><img src="{% static 'images/sentiment_satisfied_alt-black-48dp.svg' %}" alt="" class="image-4">
          <p class="paragraph">Solidarität macht nicht arm! Helfen Sie mit dem Geld, das Sie sowieso ausgegeben hätten, den Fortbestand unserer Kulturlandschaft zu sichern.</p><img src="{% static 'images/money_off-black-48dp.svg' %}" alt="" class="image-4">
          <p class="paragraph">Solidarität bleibt gebührenfrei! Zahlungen gehen direkt an {{ event.creator }}. Soli-Ticket behält keine Gebühr ein. Eventuell bitten wir hier in Zukunft um eine kleine Spende, um unsere Kosten zu decken.</p><img src="{% static 'images/share-black-48dp.svg' %}" alt="" class="image-4">
          <p class="paragraph">Solidarität ist ansteckend! <br>Jede Verlinkung oder Empfehlung hilft {{ event.creator }} und Soli-Ticket dabei, die Folgen der Krise zu mildern.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="Tickets" class="section-3">
    <div class="w-container">
      <div class="w-form">
        <form id="wf-form-Ticket-Form" name="wf-form-Ticket-Form" data-name="Ticket Form" method="POST"> {% csrf_token %}
          <div class="w-row">
			<div class="w-col w-col-8"><label for="name"><strong>TICKETS</strong></label>
				{{ order_formset.management_form }}
				{% for buyable in buyables %}
				<p>{{ buyable.buyable_name }}</p>
				{% endfor %}
            </div>
            <div class="w-col w-col-2"><label>PREIS (€)</label>
				{% for buyable in buyables %}
				<p>{{ buyable.price }}</p>
				{% endfor %}
            </div>
            <div class="w-col w-col-2">
				<label>Anzahl</label>
				{% for order_form in order_formset %}
				<p>{{ order_form.amount }}</p>
				{% endfor %}
				<!-- <input type="number" class="text-field-2 w-input" maxlength="256" name="field-3" data-name="Field 3" placeholder="0" id="field-3" required=""> -->
			</div>
          </div>
          <div class="divider"></div>
          <!-- <div class="columns-2 w-row">
            <div class="w-col w-col-8"></div>
            <div class="w-col w-col-2">
              <p class="paragraph-4">Gesamt:</p>
            </div>
            <div class="w-col w-col-2">
              <p class="paragraph-3">0,00</p>
            </div>
          </div> -->
          <div class="w-row">
            <div class="w-col w-col-9"></div>
            <div class="column-5 w-col w-col-3">
				<input type="submit" value="Spende Zusagen" data-wait="Please wait..." class="submit-button ticketconfirmbutton w-button">
			</div>
          </div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="w-container">
      <p class="paragraph-bigger cc-bigger-white-light">Über Soli-Ticket.de</p>
      <p class="paragraph-5">Wir sind ein Team von Studierenden, die soli-ticket.de während der Corona-Krise ohne wirtschaftliche Hintergedanken entwickeln. Aufgrund der dynamischen Entwicklungen arbeiten wir unter Hochdruck daran, neue Funktionalitäten anzubieten. Wir halten alles so einfach wie möglich, um schnell helfen zu können. Bitte haben Sie Verständnis dafür, dass wir aber auch nicht zaubern können :-) Wir aktualisieren unserer Webseite regelmäßig bei Neuerungen! <br><strong>#SolidaritätIstAuchAnsteckend #StayAtHome #FlattenTheCurve </strong></p>
    </div>
  </div>
{% endblock %}

{% block js %}

{% endblock %}
