{% extends 'base.html' %}

{% load static %}

{% block title %}
  An {{organiser}} spenden
{% endblock %}

{% block content %}
<div class="section-17">
    <h1 class="heading-jumbo">Spende</h1>
    <div class="w-container">
      <div class="w-layout-grid grid">
        <h6 class="spende">Tickets</h6>
        <h6 class="spende">Anzahl</h6>
		<h6 class="spende">Preis (€)</h6>
		{% for order in orders %}
        <p>{{ order.article.buyable_name }}</p>
        <p>{{ order.amount }}</p>
		<p>{{ order.price }}</p>
		{% endfor %}
        <div></div>
        <p>Gesamt</p>
        <p>{{ sum }}</p>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section-8">
    <h1 class="heading-jumbo">Überweisungsdaten</h1>
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-4">
        <div><strong>Kontoinhaber:</strong></div>
      </div>
      <div class="w-col w-col-4">
        <div>{{ organiser.bank_account_owner }}</div>
      </div>
      <div class="w-col w-col-2"></div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-4">
        <div><strong>IBAN:</strong></div>
      </div>
      <div class="w-col w-col-4">
        <div>{{ organiser.iban }}</div>
      </div>
      <div class="w-col w-col-2"></div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-4">
        <div><strong>BIC:</strong></div>
      </div>
      <div class="w-col w-col-4">
        <div>{{ organiser.bic }}</div>
      </div>
      <div class="w-col w-col-2"></div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-4">
        <div><strong>Verwendungszweck:</strong></div>
      </div>
      <div class="w-col w-col-4">
        <div>Spende über Soli-Ticket</div>
      </div>
      <div class="w-col w-col-2"></div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section-5">
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-8">
        <div class="text-block-4">Wir arbeiten unter Hochdruck daran, voll integrierte Zahlungslösungen anzubieten. Bis dahin bitten wir Sie darum, den Zahlungsbeitrag direkt auf das Spendenkonto von {{ organiser }} zu überweisen. <br></div>
      </div>
      <div class="w-col w-col-2"></div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-8">
        <div class="text-block-5"><strong>Achtung</strong>: {{ organiser }} kann Ihnen über unsere Plattform keine Spendenquittung ausstellen. Wir bzw. {{ organiser }} bitten Sie, dies bei Ihrer Spende zu berücksichtigen.<br></div>
      </div>
      <div class="w-col w-col-2"></div>
    </div>
  </div>
  <div class="section-6">
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-8">
        {% if organiser.kontosite %}
		<div class="text-block-6">Hier finden Sie einen Link zu den Kontodaten auf der offiziellen Webseite von {{ organiser }}.<br><a href='{{ organiser.kontosite }}'>{{ organiser.kontosite }}</a></div>
		{% endif %}
	  </div>
      <div class="w-col w-col-2"></div>
    </div>
  </div>
  <div class="section-7">
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-8"><a href="{% url 'accounts:profile' organiser.organisation_name %}" class="button-3 w-button">Fertig</a></div>
      <div class="w-col w-col-2"></div>
    </div>
  </div>
{% endblock %}
