{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>An {{organiser}} spenden</title>
{% endblock %}

{% block content %}
<div class="section-17">
    <h1 class="heading-jumbo">Spende</h1>
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-4">
        <h6>Tickets</h6>
        {% for order in orders %}
			<p>{{ order.article }}</p>
		{% endfor %}
      </div>
      <div class="w-col w-col-1">
        <h6>Anzahl</h6>
        {% for order in orders %}
    		<p>{{ order.amount }}</p>
    	{% endfor %}
        <div class="divider"></div>
        <p>Gesamt</p>
      </div>
      <div class="w-col w-col-1">
        <h6>Preis (€)</h6>
        {% for order in orders %}
    		<p>{{ order.price }}</p>
    	{% endfor %}
        <div class="divider"></div>
        <p>{{ sum }}</p>
      </div>
      <div class="w-col w-col-4"></div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section-8">
    <h1 class="heading-jumbo">Überweisungsdaten</h1>
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-4">
        <div>Kontoinhaber: </div>
        <div>IBAN: </div>
        <div>BIC:</div>
        <div>Verwendungszweck:</div>
      </div>
      <div class="w-col w-col-4">
        <div>{{ organiser.bank_account_owner }}</div>
        <div>{{ organiser.iban }}</div>
        <div>{{ organiser.bic }}</div>
        <div>Spende über Soli-Ticket</div>
      </div>
      <div class="w-col w-col-2"></div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section-5">
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-8">
        <div>Wir arbeiten unter Hochdruck daran, voll integrierte Zahlungslösungen anzubieten. Bis dahin bitten wir Sie darum, den Zahlungsbeitrag direkt auf das Spendenkonto von {{ organiser }} zu überweisen. <br></div>
      </div>
      <div class="w-col w-col-2"></div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-8">
        <div><strong>Achtung</strong>: {{ organiser }} kann Ihnen über unsere Plattform keine Spendenquittung ausstellen. Wir bzw. {{ organiser }} bitten Sie, dies bei Ihrer Spende zu berücksichtigen.<br></div>
      </div>
      <div class="w-col w-col-2"></div>
    </div>
  </div>
  <div class="section-6">
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-8">
        {% if organiser.kontosite %}
		<div>Hier finden Sie einen Link zu den Kontodaten auf der offiziellen Webseite von {{ organiser }}.<br><a href='{{ organiser.kontosite }}'>{{ organiser.kontosite }}</a></div>
		{% endif %}
	  </div>
      <div class="w-col w-col-2"></div>
    </div>
  </div>
  <div class="section-7">
    <div class="w-row">
      <div class="w-col w-col-2"></div>
      <div class="w-col w-col-8"><a href="../{{organiser}}" class="button-3 w-button">Fertig</a></div>
      <div class="w-col w-col-2"></div>
    </div>
  </div>
{% endblock %}
