{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Events von {{ organiser }}</title>
{% endblock %}

{% block content %}
<script type="text/javascript">
	function myFunction() {
		/* Get the text field */
		var copyText = document.getElementById("link");

		/* Select the text field */
		copyText.select();
		copyText.setSelectionRange(0, 99999); /*For mobile devices*/

		/* Copy the text inside the text field */
		document.execCommand("copy");

		/* Alert the copied text */
		// alert("Copied the text: " + copyText.value);
	}
</script>
	<div class="section cc-store-home-wrap">
	  <div class="form-header">
		<div class="intro-content cc-homepage">
		  <div class="intro-text">
			<h1 class="heading-2">Alle Events von {{ organiser }}</h1>
			<div class="div-block"></div>
		  </div>
		  {% if logged_in %}
		  <h6 class="heading-20">Teilen Sie diesen Link, um Ihre Unterstützer zum Spenden aufzurufen:</h6>
		  <div class="w-form">
			<div class="w-layout-grid grid-4">
				<div></div>
				<input type="text" class="text-field-2 w-input" maxlength="256" name="field" data-name="Field" readonly id="link" value="http://soli-ticket.de{{ request.get_full_path }}">
				<img src="{% static 'images/icons8-copy-24.png' %}" alt="" onclick="myFunction();" id="copyToClip">
			</div>
		  </div>
		  {% endif %}
        </div>
	  </div>
	  <div>
		<div class="w-container">
			<div class="w-layout-grid grid-5">
			  {% for event in event_list %}
			  <div class="text-block-2">{{ event.date }}</div>
			  <div class="text-block-3"><a href='{{event.get_absolute_url}}'>{{ event.name }}</a></div>
			  {% if logged_in %}
			  <a href="{{event.get_absolute_url}}edit/"><img src="{% static 'images/icons8-edit-24.png' %}" alt=""></a>
			  <a href="{{event.get_absolute_url}}delete/"><img src="{% static 'images/delete-24px.svg' %}" alt=""></a>
			  {% else %}
			  <div></div>
			  <div></div>
			  {% endif %}
			  {% endfor %}
		  </div>
		</div>
		{% if logged_in %}
		<div class="w-container"><a href="../create" class="button-5 w-button">Neue Veranstaltung erstellen</a></div>
		{% endif %}
	  </div>
{% endblock %}