{% extends "solisite/base.html" %}

{% block content %}
	<h2>Informationen über das Event {{event.name}}</h2>
	<p>ID: {{ event.id }}</p>
	<p>Name: {{ event.name }}</p>
	<p>Beschreibung: {{ event.description }}</p>
	<p>Veranstalter: {{ event.creator }}</p>
	<p>Datum: {{ event.date }}</p>
	<p>Erstellungsdatum: {{ event.createdDateTime }}</p>
	<p>Änderungsdatum: {{ event.changedDateTime }}</p>
	<h3>Adresse</h3>
	<p>Land: {{ address.country }}</p>
	<p>Stadt: {{ address.city }}</p>
	<p>Straße: {{ address.street }}</p>
	<p>Hausnummer: {{ address.house_number }}</p>
	<p>Postleitzahl: {{ address.post_code }}</p>
	<p><a href='./update/'>Eventinformationen bearbeiten</a></p>
	<p><a href='./delete/'>Dieses Event Löschen</a></p>
	<h3>Alle angebotenen Produkte</h3>
	{% for buyable in buyables %}
		<h4>Produkt {{ forloop.counter }}</h4>
		<p>{{ buyable.buyable_name }}</p>
		<p>{{ buyable.price }}€</p>
		<a href='./buyable/{{buyable.id}}/update/'>Bearbeiten</a>
		<a href='./buyable/{{buyable.id}}/delete/'>Löschen</a>
	{% endfor %}
	<p><a href='./buyable/create/'>Neues Produkt hinzufügen</a></p>
{% endblock %}