{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Events von {{ organiser }}</title>
{% endblock %}

{% block content %}

<script type="text/javascript">
	function myFunction() {
		/* Get the text field */
		var copyText = document.getElementById("link");

		/* Select the text field */
		copyText.select();
		copyText.setSelectionRange(0, 99999); /*For mobile devices*/

		/* Copy the text inside the text field */
		document.execCommand("copy");

		/* Alert the copied text */
		// alert("Copied the text: " + copyText.value);
	}
</script>

<div class="section cc-store-home-wrap">
  <div class="form-header">
    <div class="intro-content cc-homepage">
      <div class="intro-text">
        <h1 class="heading-2">Alle Events<br>von {{ organiser.organisation_name }}</h1>
        <div class="div-block"></div>
      </div>
      <h6 class="heading-20">Teilen Sie diesen Link mit anderen Fans von {{ organiser.organisation_name }}, um sie zum Spenden aufzurufen:</h6>
      <div class="w-form">
          <div class="w-layout-grid grid-4">
            <div></div>
    				<input type="text" class="text-field-2 w-input" maxlength="256" name="field" data-name="Field" readonly id="link" value="http://soli-ticket.de{{ request.get_full_path }}">
    				<img src="{% static 'images/icons8-copy-24.png' %}" alt="" onclick="myFunction();" id="copyToClip">
    			</div>
      </div>
    </div>
  </div>
  <div class="w-container">
    <div class="w-layout-grid grid-5">
      {% for event in event_list %}
      <div class="text-block-2">{{ event.date }}</div>
      <div class="text-block-3"><a href='{{event.get_absolute_url}}'>{{ event.name }}</a></div>
      {% endfor %}
    </div>

<div class="divider"></div>
<div class="section-21">
  <div class="w-container">
    <h3>Über {{ organiser.organisation_name }}</h3>
    <div class="w-row">
      <div class="column-25 w-col w-col-6">
        <p class="paragraph-15">Ansprechpartner</p>
        <p>{{ organiser.contact_first_name }} {{ organiser.contact_last_name }}</p>
      </div>
      <div class="column-26 w-col w-col-6">
        <p class="paragraph-15">Email-Adresse</p>
        <p class="paragraph-16">{{ organiser.email }}</p>
      </div>
    </div>
    <div class="w-row">
      <div class="column-27 w-col w-col-6">
        <p class="paragraph-15">Name der Organisation</p>
        <p>{{ organiser.organisation_name }}</p>
      </div>
      <div class="column-28 w-col w-col-6">
        <p class="paragraph-15">Art der organisation</p>
        <p>{{ organiser.organisation_type }}</p>
      </div>
    </div>
    <div class="w-row">
      <div class="column-29 w-col w-col-6">
        <p class="paragraph-15">Adresse</p>
        <p>{{ organiser.user_address.strasse }} {{ organiser.user_address.hnummer }}<br>{{ organiser.user_address.plz }}, {{ organiser.user_address.ort }}</p>
      </div>
      <div class="column-30 w-col w-col-6">
		  {% if organiser.contact_phone %}
        	<p class="paragraph-15">Telefonnummer</p>
			<p>{{ organiser.contact_phone }}</p>
		  {% endif %}
      </div>
    </div>
    <h5 class="heading-22">SPENDENKONTO</h5>
    <p class="paragraph-15">Kontoinhaber</p>
    <p>{{ organiser.bank_account_owner }}</p>
    <div class="w-row">
      <div class="column-31 w-col w-col-6">
        <p class="paragraph-15">IBAN</p>
        <p>{{ organiser.iban }}</p>
      </div>
      <div class="column-32 w-col w-col-6">
        <p class="paragraph-15">BIC</p>
        <p>{{ organiser.bic }}</p>
      </div>
	</div>
	{% if organiser.kontosite %}
    	<p class="paragraph-15">Link zur offiziellen Seite</p>
		<p>{{ organiser.kontosite }}</p>
	{% endif %}
</div>

{% endblock %}
